.App {
  text-align: center;
}



.texto{
  display: inline-block;
}

.NavBar{
  height: 30vh;
}

.inicio{
  height: 100vh;
  padding: 0 7%;
  justify-content: space-around;
  align-items: center;
  display: flex;

}

.segundaparte{
  height: 70vh;
  padding: 0 10%;
}

#jl{
  width: 351px;
  height: 331.2px;
}

#jl2{
  height: 60px;
  width: 60px;
}

  @media screen and (max-width: 650px) {
    .inicio{
      height: 100vh;
      display: flex;
      align-items: center;
      
    }

    #jl{
      display: none;
    }
  
}

.centrar{
  display: flex;
  justify-content: center;
}

.botones{
  display: flex;
}

.boton{
  margin: 10px 10px 10px 0;
}