.App {
  text-align: center;
}



.texto{
  display: inline-block;
}

.NavBar{
  height: 30vh;
}

.inicio{
  height: 100vh;
  padding: 0 7%;
  justify-content: space-around;
  align-items: center;
  display: flex;

}

.segundaparte{
  height: auto;
  padding: 0 10%;
}

#jl{
  width: 351px;
  height: 331.2px;
}

#jl2{
  height: 60px;
  width: 60px;
}

  @media screen and (max-width: 650px) {
    .inicio{
      height: 100vh;
      display: flex;
      align-items: center;
      
    }

    #jl{
      display: none;
    }

    .cartas{

      flex-direction: column;
    }


  
}

.centrar{
  display: flex;
  justify-content: center;
}

.botones{
  display: flex;
}

.boton{
  margin: 10px 10px 10px 0;
}

/* .link{
  margin:  0px 9px 0px 9px;
} */

.navv{

  height:auto !important;
}

.AcercaDeMi{
  /* height: 90vh; */
  padding: 0 10%;
}


.carta{
  background-color: #16181A;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  height: 140px;
  width: 140px;
  justify-content: center;
  align-items: center;
}

.cartas{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.Contacto{
  /* height: 70vh; */
  padding: 0 10%;
} 

.signin{
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.b{
  background-color: #9750DD;
  width: 200px;
  border: 0;
  border-radius: 10px;
  color: white;
}

.b:hover {
  color: white;
  background-color: #8026da;
}

.button {
  font-family: inherit;

  background: #9750DD;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  margin: 20px;

}

.p-button{
  color: #FFFFFF;
  font-family: 'Switzer';
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  display: block;
  margin-left: 0.3em;
}